<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./assets/css/output.css" rel="stylesheet">
    <title>Ramez Medhat</title>
</head>
<body class ="bg-[#1b272a] h-screen">
    <div class="h-full flex flex-col items-center justify-center text-center">
        <img class="h-30 mb-10" src="./assets/images/logo.png">
        <h1 class="text-[#e3c189] font-bold text-4xl pb-2">Ramez Medhat</h1>
        <!-- <p class="text-zinc-300">Software Engineer Intern, <a class="underline italic" href="https://www.procore.com/" target="_blank">Procore Technologies</a></p> -->
        <!-- <p class="text-zinc-300">Technical Head, <a class="underline italic" href="https://icpczagazig.org/" target="_blank">ICPC ZU Community</a></p> -->
        <p class="text-zinc-300">Sometimes, a human</p>
        <div class="pt-5 flex gap-1.5">
            <a href="mailto:iramezdev@gmail.com" target="_blank"><img class="filter invert sepia saturate-200 hue-rotate-10 w-8 h-8" src="./assets/images/email.svg"></a>
            <a href="https://github.com/r6mez" target="_blank"><img class="filter invert sepia saturate-200 hue-rotate-10 w-8 h-8" src="./assets/images/github.svg"></a>
            <a href="https://linkedin.com/in/r6mez" target="_blank"><img class="filter invert sepia saturate-200 hue-rotate-10 w-8 h-8" src="./assets/images/linkedin.svg"></a>
            <a href="https://x.com/R6mezMedhat" target="_blank"><img class="filter invert sepia saturate-200 hue-rotate-10 w-8 h-8" src="./assets/images/x.svg"></a>
            <a href="https://www.facebook.com/r6mez/" target="_blank"><img class="filter invert sepia saturate-200 hue-rotate-10 w-8 h-8" src="./assets/images/face.svg"></a>
            <a href="https://www.instagram.com/r6mez/" target="_blank"><img class="filter invert sepia saturate-200 hue-rotate-10 w-8 h-8" src="./assets/images/insta.svg"></a>
        </div>

        <a class="text-zinc-400 underline mt-5" herf="/blog">view blog (soon) →</a>
    </div>
</body>
</html>